# Generic detritus
*~
*.log

# Python artifacts
*.py[cod]
__pycache__/
build/
dist/
wheels/
*.egg-info/

# Virtual environments
venv
.venv
.python-version

# C extensions
*.so

# project-specific files
secrets.py
weather-test.py
font.list*
sdl-test
